body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    button{
        cursor: pointer;
    }
}
  
header {
    position: fixed;
    z-index: 10;
    height: 100px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0px;
    .logo {
        height: 75%;
        width: 75%;
        padding: 0;
        margin-left: 40px;
        font-size: 25px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        animation: animation1 4s;
        color: rgb(47, 47, 47);
        .h3 {
            #nuit_color{
                color: aqua;
            } 
            font-size: 28px;
            animation: animation1 1s;

        }
    }
    @keyframes animation2 {
        0% {
        transform: translateX(0);
        opacity: 0;
        }
        100% {
        transform: translateX(0);
        opacity: 1;
        }
    }
    @keyframes animation1 {
        0% {
        transform: translateX(200px);
        opacity: 0;
        }
        100% {
        transform: translateX(0);
        opacity: 1;
        }
    }
    menu {
        margin: 0;
        padding: 0;
        height: 80%;
        width: 50%;
        nav {
            height: 100%;
            width: 100%;
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                width: 100%;
                list-style-type: none;  
                margin: 0;
                li a {
                    text-decoration: none;
                    color: black;
                    font-size: 19px;
                    margin: 20px;
                }
                :hover{
                    color: rgb(47, 47, 164);
                    transition: 1s;
                    font-size: 22px;
                }
            }
        }
    }
    .auth {
        height: 80%;
        width: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 10%;
        animation: animation2 3s;
        .login {
            background-color: white;
            border: 1px solid black;
            border-radius: 8px;
            height: 50%;
            width: 100%;
            font-family: Georgia, 'Times New Roman', Times, serif;
            a {
                text-decoration: none;
                color: black;
                font-size: 14px;
            }
        }
        .signup {
            background-color: gray;
            border: 1px solid white;
            border-radius: 8px;
            height: 50%;
            width: 100%;
            margin-right: 5%;
            font-family: Georgia, 'Times New Roman', Times, serif;
            a {
                color: white;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }
}
.presentation{
    background-image: url(../images/lion2.jpg );
    background-size: cover;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    flex-direction: row-reverse;
    height: 600px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    div{
        h1{
            margin-top: -10%;
            font-size: 70px;
        }
        .p1{
            font-size: 100px;
        }
    }
    
    h4{
        margin: 0;
    }
    
}
.histoire{
    height: 200px;
    h2{
        text-align: center;
    }
    p{
        font-size: 1.2em;
        text-align: center;
    }
}
#after-welcome{
    margin-top: -4%;
}
  
main {
    padding: 2rem;
    position: relative;
    h1{
        text-align: center;
    }
    .room-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .room {
            border: 2px solid #000971;
            border-radius: 5%;
            padding: 1rem;
            margin: 1rem;
            text-align: center;
            width: 250px;
            transition: transform 0.3s ease-in-out;
            background-color: rgb(154, 154, 249);
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              }
            img {
              max-width: 100%;
              border-radius: 8px;
            }
        }
          
        .status {
            color: green;
        }
    }
    .tet{
        resize: none;
    }
}
.com{
    background-color: whitesmoke;
    h2{
        font-size: 40px;
        text-align: center;
    }
    textarea{
        width: 300px;
        height: 200px;
        resize: none;
        /* pointer-events: none; */
    }
    .com-btn{ 
        margin-left: 10px;
    }
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    top: 140px;
    position: relative;
}

.form-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 300px;

    h2 {
        text-align: center;
        color: #333;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 8px;
        }

        input,
        select {
            padding: 8px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
        }

        .gender-options {
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;

            label {
                margin-bottom: 8px;
            }
        }

        button {
            padding: 10px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                background-color: #2980b9;
            }
        }
    }
}

// Sass Additionnel pour la Page de Réservations de Chambres

.content-container {
    form {

        select,
        input[type="date"],
        input[type="datetime-local"],
        input[type="number"],
        input[type="text"],
        textarea {
            padding: 8px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            width: 100%;
        }

        button { 
            padding: 10px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;

            &:hover {
                background-color: #2980b9;
            }
        }
    }
}

// Sass Additionnel pour la Page de Commandes

.content-container {
    form {
        label {
            margin-bottom: 8px;
            display: block;
        }

        select,
        input[type="number"],
        textarea {
            padding: 8px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            width: 100%;
        }

        button {
            padding: 10px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;

            &:hover {
                background-color: #2980b9;
            }
        }
    }
}


//recuperation
.recovery-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    margin: 20px auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    .reservation-details,
    .food-orders {
        margin-bottom: 20px;

        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 8px;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                margin-bottom: 5px;
            }
        }
    }
}


footer{
    background-color: #d3d3d3; 
    height: 100%;
    width: 100%;
    position: relative;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 0%;
  
    section{
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      list-style: none;
      ul{
        list-style: none;
        margin-left: 60px;
        margin: 20px;
        li{
          margin: 15px;
          &:hover {
            transform: scale(1.2);
            color: rgb(121, 197, 70);
            animation: rotationtext 3s;
          }
          @keyframes rotationtext {
            0%, 100%{
              transform: translateY(5px);
            }
            50%{
              transform: translateY(10px);
            }
            0%, 100% {
              transform: translateY(5px);
            }
            50% {
              transform: translateY(10px);
            }
          }
        }
      }
    }

}

.titleofmessage{
    text-align: center;
    font-size: 89px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.testofmessage{
    align-items: center;
    resize: none;
    height: 90px;
    width: 70px;
}


a{
    text-decoration:none ;
    &:hover{
        /* color: white; */
    }
} 

#inscription-fidele:hover{
    text-decoration: underline;
}

#fidele-paragraphe{
    margin-top: -5%;
}

#messageTable{
    height: 100%;
    width: 10%;
    float: right;
    margin-top: -11%;
    font-size: 2em;
}
#message{
    resize: none;
}
th,td{
    border: 1px solid gray;
}
table{
    border-collapse: collapse;
}

.company-text {
    height: 450px;
    //width: 100%;
    /* margin-left: 85px; */
    display: flex;
  }
.companies1 {
    h3 {
      font-weight: bolder;
      font-size: 2.1em;
      //font-family: Arial, Helvetica, sans-serif;
    }
    p {
      font-size: 1.1em;
      //margin-left: -2px;
    }
    button {
      height: 45px;
      width: 200px;
      margin-top: -12%;
      color: #000;
      span {
        font-weight: 800;
        //font-family: Arial, Helvetica, sans-serif;
      }
      
      border: 1px solid #cecece;
      border-radius: 5px;
      background-color: white;
    }
  }
  .companies-image {
    img {
        margin-left: 11%;
      border-radius: 10px;
    }
  }
  #companies2{
    /* margin-left: 6%; */
  }
  .companies-image2{
    img{
        //margin-top: 8%;
        margin-left:12% ;
        border-radius: 10px;
    }
  }

  .companies1 ,
.companies-image {
  height: 392px;
  width: 700px;
}

.notification {
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: #3498db;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Par défaut, la notification est cachée */
}